{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Edit</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
	{% include 'MyApp/navbar.html' %}
	<center>
		<div class='container'>
			<h2 class='bg bg-primary' align="center">Edit {{data.first_name}} Details</h2>
	<form action="{% url 'edit' data.id %}" method="POST">
		{% csrf_token %}
		First Name : <input type="text" name="fname" class=form-control value='{{data.first_name}}'><br><br>
		Last Name : <input type="text" name="lname" class=form-control value='{{data.last_name}}'><br><br>
		Date of Birth : <input type="date" name="dob" class=form-control value='{{ data.date_of_birth }}'><br><br>
		<input type="submit" name="submit" value="Update" class='form-control btn btn-success'>
	</form>
	</center>
</body>
</html>