<html>
<head>
	<title>Registration Page</title>
	{% include 'profiles/navbar.html' %}
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header bg-secondary text-white">
			    {% if user.id == data.id %}
				<h1>Edit</h1>
			</div>
			<div class="card=body">
				<form action="{% url 'edit' data.id %}" method="POST" enctype='multipart/form-data'>
				{% csrf_token %}
				First Name : <input type="text" name="fname" class=form-control value='{{data.first_name}}'><br><br>
				Last Name : <input type="text" name="lname" class=form-control value='{{data.last_name}}'><br><br>
			</div>
			<div class="card-footer">
				<input type="submit" name="submit">
				</form>
				{% else %}
				<h2>This action is not allowed.</h2>
				{% endif %}
			</div>
		</div>
	</div>
</body>
</html>
